* {
  box-sizing: border-box;
}


.container {
  padding: 16px;
  background-color: white;
  flex: 33%;
  width: 250px;
  margin-left: 20%;
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: white;
  border-bottom: 1px solid grey;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: white;
  outline: none;
  border:none;
  border-bottom: 1px solid gray;

}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: #696969;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

}

.registerbtn:hover {
  opacity: 1;
  background-color:   #F08080;
}


a {
  color: dodgerblue;
}


.signin {
  background-color: #f1f1f1;
  text-align: center;
}